name: Publish Suppressions

on:
  workflow_dispatch:

permissions: {}
jobs:
  update_suppression:
    permissions:
      contents: write # to push changes in repo (jamesives/github-pages-deploy-action)

    name: Publish Suppressions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: generatedSuppressions
      - uses: actions/setup-node@v6.2.0
      - run: |
          npm install fs
      - name: Create Generated Suppressions XML
        uses: actions/github-script@v8.0.0
        with:
          script: |
            const fs = require('fs');
            const generatedSuppressions = fs.readFileSync('generatedSuppressions.xml', 'utf8');
            if (!fs.existsSync('./suppressions')){
                fs.mkdirSync('./suppressions');
            }
            fs.appendFileSync('suppressions/publishedSuppressions.xml',
            `<?xml version="1.0" encoding="UTF-8"?>
            <suppressions xmlns="https://jeremylong.github.io/DependencyCheck/dependency-suppression.1.3.xsd
                          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                          xsi:schemaLocation="https://jeremylong.github.io/DependencyCheck/dependency-suppression.1.3.xsd
                                              https://dependency-check.github.io/DependencyCheck/dependency-suppression.1.3.xsd">
            ${generatedSuppressions}
            </suppressions>`,
            function (err) {
              if (err) throw err;
              console.log('publishedSuppressions.xml created');
            });
      - name: Publish Updated Suppressions
        uses: JamesIves/github-pages-deploy-action@v4.7.6
        with:
          branch: gh-pages
          folder: suppressions
          target-folder: suppressions

